<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-0" href="/home">
        </a>
        <!-- User -->
        <!-- <ul class="nav align-items-center d-md-none">
            <li class="nav-item dropdown">
                <a class="nav-link" href="/profile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="media align-items-center">
                        <span class="avatar avatar-sm rounded-circle">
                            <img alt="..." src="#">
                        </span>
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
                    <div class=" dropdown-header noti-title">
                        <h6 class="text-overflow m-0">Welcome!</h6>
                    </div>
                    <a href="/profile" class="dropdown-item">
                        <i class="ni ni-single-02"></i>
                        <span>My profile</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="/logout" class="dropdown-item" onclick="event.preventDefault();">
                        <i class="ni ni-user-run"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </li>
        </ul> -->
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="/home">
                            <!-- <img src="#"> -->
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <span></span>

            <span></span>

            <ul class="navbar-nav">
                <br>
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        <i class="ni ni-tv-2 text-primary"></i> Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/order">
                        <i class="ni ni-basket text-orange"></i>My Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/address">
                        <i class="ni ni-shop text-info"></i> Address
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="main-content">
    <!--<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-image: url(../argon/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">-->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="background-image: url(assets/default/cover.jpg); background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-2"></span>
        <nav class="navbar navbar-top navbar-expand-md  navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" routerLink="/dashboard">Dashboard</a>
            </div>

        </nav>
    </div>


    <div class="container-fluid mt--7">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <form method="GET" action="/orders">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Orders</h3>
                                </div>
                                <div class="col-4 text-right">
                                    <button id="show-hide-filters" class="btn btn-icon btn-1 btn-sm btn-outline-secondary" type="button">
                                        <span class="btn-inner--icon"><i id="button-filters"
                                                class="ni ni-bold-down"></i></span>
                                    </button>
                                </div>
                            </div>
                            <br>
                            <div class="tab-content orders-filters">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="input-daterange datepicker row align-items-center">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">Filter by Date From</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="ni ni-calendar-grid-58"></i></span>
                                                        </div>
                                                        <input name="fromDate" class="form-control" placeholder="Date from" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="form-control-label">To</label>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i
                                                                    class="ni ni-calendar-grid-58"></i></span>
                                                        </div>
                                                        <input name="toDate" class="form-control" placeholder="Date to" type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="restorant">Filter by
                                                Status</label>
                                            <select class="form-control select2 select2-hidden-accessible" name="restorant_id" tabindex="-1" aria-hidden="true" style="padding-bottom: 35px;">
                                                <option disabled="" selected="" value=""> --
                                                    Select a status -- </option>
                                                <option value="1">Accepted</option>
                                                <option value="2">In transit</option>
                                                <option value="3">PickUp</option>
                                                <option value="4">Completed</option>
                                                <option value="5">Cancelled</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="form-control-label" for="restorant">Search Order<small> (By ID) </small></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <a href=""><i class="fas fa-search" aria-hidden="true"></i></a></span>
                                                </div>
                                                <input name="orderid" class="form-control" placeholder="Enter order ID" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 offset-md-6">
                                    <div class="row">
                                        <div class="col-md-8"></div>

                                        <div class="col-md-4">
                                            <button type="submit" class="btn btn-secondary btn-md btn-block">Filter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-12">
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th class="table-web" scope="col">Created <a href=""><i class="fa fa-sort" aria-hidden="true"></i></a></th>
                                    <th class="table-web" scope="col">Time Slot</th>
                                    <th class="table-web" scope="col">Address</th>
                                    <th scope="col">Last status</th>
                                    <th class="table-web" scope="col">
                                        <div class="row"> Price <a href=""><i class="fa fa-sort pt-1 mx-1" aria-hidden="true"></i></a></div>
                                    </th>
                                    <th class="table-web" scope="col">Delivery</th>
                                    <th class="table-web" scope="col">Contact</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <!--<span class="text-primary order_id" name="order-id" style="cursor:pointer" value='602' data-toggle="modal" data-target="#modal-order-details">602</span>-->
                                        <a class="btn badge badge-success badge-pill" routerLink="/orderdetails">#602</a>
                                    </td>
                                    <td class="table-web">
                                        30 Jul 2020 15:38
                                    </td>
                                    <td class="table-web">
                                        16:00 - 16:30
                                    </td>
                                    <td class="table-web">
                                        <label for="">4761 Mohr Streets Suite 267 Steubermouth,
                                            AR 09171-7640</label>
                                    </td>
                                    <td>
                                        <span class="badge badge-success badge-pill">Accepted</span>
                                    </td>
                                    <td class="table-web">
                                        $6.99
                                    </td>
                                    <td class="table-web">
                                        $0.00 </td>
                                    <td class="table-web">
                                        9891823122
                                    </td>
                                    <td class="table-web">
                                        <div class="form-group">
                                            <select class="form-control select2 select2-hidden-accessible" name="restorant_id" tabindex="-1" aria-hidden="true" style="padding-bottom: 35px;">
                                                <option disabled="" selected="" value=""> --
                                                    Change status -- </option>
                                                <option value="1">Accepted</option>
                                                <option value="2">In transit</option>
                                                <option value="3">PickUp</option>
                                                <option value="4">Completed</option>
                                                <option value="5">Cancelled</option>
                                            </select>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>
                                        <!--<span class="text-primary order_id" name="order-id" style="cursor:pointer" value='602' data-toggle="modal" data-target="#modal-order-details">602</span>-->
                                        <a class="btn badge badge-success badge-pill" routerLink="/orderdetails">#602</a>
                                    </td>
                                    <td class="table-web">
                                        30 Jul 2020 15:38
                                    </td>
                                    <td class="table-web">
                                        16:00 - 16:30
                                    </td>
                                    <td>
                                        <label for="">4761 Mohr Streets Suite 267 Steubermouth,
                                            AR 09171-7640</label>
                                    </td>
                                    <td>
                                        <span class="badge badge-default badge-pill">Just created</span>
                                    </td>
                                    <td class="table-web">
                                        $6.99
                                    </td>
                                    <td class="table-web">
                                        $0.00 </td>
                                    <td class="table-web">
                                        9891823122
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-success btn-sm order-action">Accept</a>
                                        <a href="#" class="btn btn-danger btn-sm order-action">Reject</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>
                                        <!--<span class="text-primary order_id" name="order-id" style="cursor:pointer" value='602' data-toggle="modal" data-target="#modal-order-details">602</span>-->
                                        <a class="btn badge badge-success badge-pill" routerLink="/orderdetails">#602</a>
                                    </td>
                                    <td class="table-web">
                                        30 Jul 2020 15:38
                                    </td>
                                    <td class="table-web">
                                        16:00 - 16:30
                                    </td>
                                    <td>
                                        <label for="">4761 Mohr Streets Suite 267 Steubermouth,
                                            AR 09171-7640</label>
                                    </td>
                                    <td>
                                        <span class="badge badge-primary badge-pill">Delivered</span>
                                    </td>
                                    <td class="table-web">
                                        $6.99
                                    </td>
                                    <td class="table-web">
                                        $0.00 </td>
                                    <td class="table-web">
                                        9891823122
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-neutral order-action" data-toggle="modal" data-target="#modal-asign-driver">Refund
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <td>
                                        <!--<span class="text-primary order_id" name="order-id" style="cursor:pointer" value='602' data-toggle="modal" data-target="#modal-order-details">602</span>-->
                                        <a class="btn badge badge-success badge-pill" routerLink="/orderdetails">#602</a>
                                    </td>
                                    <td class="table-web">
                                        30 Jul 2020 15:38
                                    </td>
                                    <td class="table-web">
                                        16:00 - 16:30
                                    </td>
                                    <td>
                                        <label for="">4761 Mohr Streets Suite 267 Steubermouth,
                                            AR 09171-7640</label>
                                    </td>
                                    <td>
                                        <span class="badge badge-warning badge-pill">Prepared</span>
                                    </td>
                                    <td class="table-web">
                                        $6.99
                                    </td>
                                    <td class="table-web">
                                        $0.00 </td>
                                    <td class="table-web">
                                        9891823122
                                    </td>
                                    <td>
                                        <a href="#" class="btn btn-success btn-sm order-action">Accept</a>
                                        <a href="#" class="btn btn-danger btn-sm order-action">Reject</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer py-4">
                        <nav class="d-flex justify-content-end" aria-label="...">
                            <ul class="pagination" role="navigation">

                                <li class="page-item disabled" aria-disabled="true" aria-label="« Previous">
                                    <span class="page-link" aria-hidden="true">‹</span>
                                </li>
                                <li class="page-item active" aria-current="page"><span class="page-link">1</span>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#3">3</a></li>
                                <li class="page-item disabled" aria-disabled="true"><span class="page-link">...</span></li>

                                <li class="page-item"><a class="page-link" href="#7">9</a></li>
                                <li class="page-item"><a class="page-link" href="#8">10</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#2" rel="next" aria-label="Next »">›</a>
                                </li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-asign-driver" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true">
            <div class="modal-dialog modal- modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h6 class="modal-title" id="modal-title-new-item">Assign Refund</h6>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    </div>
                    <div class="modal-body p-0">
                        <div class="card shadow border-0">
                            <div class="card-body px-lg-5 py-lg-5">
                                <form id="form-assing-driver" method="GET" action="#">
                                    <div class="form-group">
                                        <label class="form-control-label" for="drive">Select Item</label>
                                        <select class="form-control select2 select2-hidden-accessible" name="driver" tabindex="-1" aria-hidden="true" style="padding-bottom: 35px;" multiple>
                                        <option disabled="" value=""> -- Select
                                            Items -- </option>
                                        <option value="0">All items</option>
                                        <option value="1">Demo Item</option>
                                        <option value="2">Demo Item</option>
                                    </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-control-label" for="restorant">Enter Refund Amount</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i
                                                        class="ni ni-money-coins"></i></span>
                                            </div>
                                            <input name="refundamount" class="form-control" placeholder="Amount" type="text">
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-primary my-4">Refund</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>